<div class="parent-container">
    <h1>Support</h1>
    <div class="container">
        <mat-card *ngFor="let message of messages" class="message-card">
            <mat-card-header>
                <mat-card-title>{{ message.sender }}</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <p>{{ message.content }}</p>
                <!-- <div *ngIf="message.replies && message.replies.length > 0" class="replies-container">
                  <h2 *ngFor="let reply of message.replies">{{reply.sender}}</h2>
                  <p *ngFor="let reply of message.replies" class="reply">{{ reply.content }}</p>
                </div> -->
            </mat-card-content>
            <mat-card-actions>
                <button mat-raised-button *ngIf="!message.replyVisible" (click)="toggleReplyOptions(message)">Reply</button>
                <div *ngIf="message.replyVisible" class="reply-options">
                    <textarea [(ngModel)]="message.replyInput" placeholder="Type your reply"></textarea>
                    <button mat-raised-button (click)="submitReply(message)">Send</button>
                </div>
            </mat-card-actions>
        </mat-card>
    </div>
</div>