<div class='container'>
    <div class="forgotPassFillerImage">
    </div>
    <div class="forgotPassBox" align="center">
        <mat-card class='mat-elevation-z0'>
            <mat-card-title>
                <h1>Product <mat-icon class="icon">send</mat-icon> Tracking App </h1>
            </mat-card-title>
            <mat-card-content>
                <p class="forgotPassTitle">Forgot Password</p>
                <p class="forgotPassContent">Enter your email so we can help you reset your password.</p>
                <form #authForm="ngForm">

                    <mat-form-field color="primary">
                        <mat-label>Email</mat-label>
                        <input
                            type="text"
                            matInput
                            ngModel
                            name="email"
                            required
                            email
                            #email="ngModel"
                            >
                    </mat-form-field>
                    <mat-error
                        class="help"
                        *ngIf="!email.valid && email.touched"
                        >
                            Please enter a valid email
                    </mat-error>


                    <button class="forgotPassButton" mat-flat-button [disabled]="!authForm.valid" color="primary"
                        (click)="sendMail()">Recover Password</button>
                </form>
            </mat-card-content>
            <a routerLink="/login" class="login hyperlink">‹ Go back to Login</a>
        </mat-card>
    </div>
</div>