<div class='container'>
    <div class="resetPassFillerImage">
    </div>
    <div class="resetPassBox" align="center">
        <mat-card class='mat-elevation-z0'>
            <mat-card-title>
                <h1>Product <mat-icon class="icon">send</mat-icon> Tracking App </h1>
            </mat-card-title>
            <mat-card-content>
                <form #authForm="ngForm">
                    <mat-form-field>
                        <mat-label>Create Password</mat-label>
                        <input type="text" matInput [type]="hide?'password':'text'" name="password" ngModel required
                            pattern="^(?=.*[0-9])(?=.*[a-z])(?=.*[A-Z])(?=.*\W)(?!.* ).{8,16}$" #password="ngModel">
                        <button mat-icon-button matSuffix (click)="hide=!hide">
                            <mat-icon>{{ hide?'visibility_off': 'visibility' }}</mat-icon>
                        </button>
                    </mat-form-field>
                    <mat-error class="help" *ngIf="!password.valid && password.touched">
                        Please enter a valid password
                    </mat-error>

                    <mat-form-field>
                        <mat-label>Confirm Password</mat-label>
                        <input type="text" matInput [type]="hide?'password':'text'" name="confirmPassword" ngModel
                            required #confirmPassword="ngModel">
                        <button mat-icon-button matSuffix (click)="hide=!hide">
                            <mat-icon>{{ hide?'visibility_off': 'visibility' }}</mat-icon>
                        </button>
                    </mat-form-field>
                    <mat-error class="help" *ngIf="(!password.valid && password.touched) && 
                        (!confirmPassword.valid && confirmPassword.touched )">
                        Password not entered
                    </mat-error>
                    <mat-error class="help" *ngIf="(password.valid && password.touched) && 
                        (!confirmPassword.valid && confirmPassword.touched)">
                        Confirm Password
                    </mat-error>
                    <mat-error class="help" *ngIf="(password.valid && password.touched) && 
                        (confirmPassword.valid && confirmPassword.touched) &&
                        (password.value !== confirmPassword.value)">
                        Passwords don't match
                    </mat-error>
                    <mat-card-actions>
                        <button class="resetPassButton" mat-flat-button [disabled]="!authForm.valid"
                            (click)="resetPassword()" color="primary">Save Password</button>
                    </mat-card-actions>

                </form>
            </mat-card-content>
        </mat-card>
    </div>
</div>