.main-container {
    padding-top: 8em;
    padding-left: 1.5em;
    height: 100%;
    width: 100%;

    display: grid;
    grid-template: 1fr / 1fr 1fr;
}

h1 {
    font-size: 1.4rem;
    font-weight: 600;
    color: #513387;
    padding-bottom: 0.5em;
    line-height: 1;
}

.review {
    padding: 0.25em;;
    padding-top: 0.75em;
    padding-left: 1rem;
    margin-bottom: 0.5em;
    background-color: #FFFFFF;

    border-radius: 0.5rem;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

h4 {
    margin: 0;
}

.star-rating {
    color: #FFD700;
    font-size: 20px;
}
  
.star {
    display: inline-block;
    transition: color 0.3s;
    color: gray;
}

.star.filled {
    color: #FFD700;
}

p {
    padding-top: 0.25em;
    font-size: 0.8rem;
}
