.sideContainer {
    padding-top: 2em;
}


.sideContainer > li {
    background-color: #FFFFFF;

    font-size: 1rem;
    font-weight: 500;
    color: #000000;
    text-align: center;
    cursor: pointer;

    margin-bottom: 0.25rem;
    margin-left: -1.5rem;
    padding: 0.8rem;
    
    border-radius: 0.35rem;
    
}

.sideContainer > li:hover {
    background-color: #513387;
    border-style: solid;
    border-radius: 0.25rem;
    border-color: #513387;
    border-width: 0px;
    color: #FFFFFF;
}

ul {
    list-style: none;
}