<div class="main-container">
    <div class="product-details">

        <h1>Product Name</h1>
        <img 
            src="https://m.media-amazon.com/images/I/51IcFtRpZdL.jpg"
            width="350px"
        >

        <div class="product-description">
            <div>
                <h1>Product 1001</h1>
                <p>This is a product over here and here is something about it.</p>
            </div>

            <button mat-flat-button>Track Product</button>
        </div>

        <hr>

        <div class="product-specifications">
            <h3>Product Specifications</h3>
            <p></p>
        </div>

    </div>
    <div class="product-tracking">
        <h1>Map view</h1>
    </div>
</div>