<div class="main-container">
    <div class="product-details">

        <h1>Product Name</h1>
        <img 
            src="https://m.media-amazon.com/images/I/51IcFtRpZdL.jpg"
            width="350px"
        >

        <div class="product-description">
            <div>
                <h1>Product 1001</h1>
                <p>This is a product over here and here is something about it.</p>
            </div>

            <button mat-flat-button>Track Product</button>
        </div>

        <hr>

        <div class="product-specifications">
            <h3>Product Specifications</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                Aenean maximus diam eu felis maximus posuere. Ut vitae rutrum orci. 
                Donec a mollis quam, quis efficitur diam. Aliquam erat volutpat. 
                Donec risus metus, ultrices elementum urna ac, posuere pellentesque risus. 
                Donec tempus auctor vehicula. Vestibulum pretium ullamcorper nunc sed faucibus.</p>
        </div>

        <hr>

        <div class="details-section">
            <div>
                <h2>Supplier name</h2>
                <button mat-flat-button>View supplier details</button>
            </div>
            <div>
                <h2>Dispatcher name</h2>
                <button mat-flat-button>View dispatcher details</button>
            </div>
            <div>
                <h2>Review this product</h2>
                <button mat-flat-button>Write a Review</button>
            </div>
            <div>
                <h2>Support</h2>
                <button mat-flat-button>Need Help?</button>
            </div>
        </div>

    </div>
    <div class="product-tracking">
        <h1>Map view</h1>
    </div>
</div>