<div class="main-container">

    <div class="add-dispatcher-container">

        <h1>Add Dispatcher</h1>
        <div class="add-dispatcher-details-container">
            <div class="add-dispatcher-details">
                <div class="dispatcher-text-details">

                    <div class="quad-details">

                        <mat-form-field>
                            <mat-label>First Name</mat-label>
                            <input
                                matInput>
                        </mat-form-field>

                        <mat-form-field>
                            <mat-label>Last Name</mat-label>
                            <input
                                matInput>
                        </mat-form-field>

                        <mat-form-field>
                            <mat-label>Email</mat-label>
                            <input
                                matInput>
                        </mat-form-field>

                        <mat-form-field>
                            <mat-label>Phone No.</mat-label>
                            <input
                                matInput>
                        </mat-form-field>

                    </div>

                    <mat-form-field>
                        <mat-label>Address</mat-label>
                        <textarea
                            matInput
                            rows="4"
                            ></textarea>
                    </mat-form-field>
                </div>
                
            </div>

            <div class="add-dispatcher-actions">
                <button
                    mat-flat-button
                >
                    Submit
                </button>
                <button
                    mat-flat-button
                    class="outline-button"
                >
                    Cancel
                </button>
            </div>

        </div>
    </div>

    
</div>